modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 4028
externalPort = 3000

[[ports]]
localPort = 4173
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[workflows]
runButton = "Development"

[[workflows.workflow]]
name = "Development"
author = 45016091
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server/index.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
