modules = ["nodejs-20", "web"]
run = "npm run serve"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run serve"]

[[ports]]
localPort = 4173
externalPort = 80

[workflows]
runButton = "Development"

[[workflows.workflow]]
name = "Development"
author = 45016091
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && node index.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
